.App {
  text-align: center;
  background-color: rgb(15, 47, 75);
  color: rgb(255, 255, 255);
  height: 100%;
}

.label {
  padding: 10px;
}

.inputField {
  margin: 10px;
}

.cardList {
  display: flex;
  justify-content: center;
}
